/* @import url('https://fonts.cdnfonts.com/css/adine-kirnberg'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(147, 211, 233);
}

header{
  display: flex;
  margin-top: 20px;
  width: 100%;
  align-items: stretch;
}

.titleheader {
    color: whitesmoke;
    font-size: 3vw;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    flex-grow: 1;
    text-align: center;
}

.navibar {
  display: flex;
  justify-content: center; 
  /* background-color: #333; */
  margin-top: 2vw;
  position: relative;

  margin: 10hv 10hv;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 0;
}

.nav-item {
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  color: white; /* text colour */;
  font-size: 4vw;
  font-family: 'Inter', sans-serif;
  margin: 2vw 6vw;
}

/* mobile menu icon */
.menu-icon {
  display: none;
  color: white;
  cursor: pointer;
}

/* mobile view*/
@media (max-width: 450px) {
  .titleheader{
    font-size: 4vw;
    height: 10px;
    display: inline-block;
    margin-left: 2vw;;
    text-align: left;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      justify-content: right;
      align-items:end;
      top: 10vw;
      /* background-color: rgb(121, 174, 192); */
  }

  .nav-links.active {
      display: flex; 
  }

  .nav-item { 
      text-align: right;
  }

  .nav-item a {
    font-size: 6vw;
  }

  .menu-icon {
    display: flex;
    font-size: 12vw;
    line-height: 60%;
    -webkit-position: sticky;
    position: sticky;
    top: 30px;
    margin-right: 10vw;
  justify-content: flex-end;
    z-index: 9999;
    transform: translateY(-10px);
  }

  .navibar {
      display: none;
  }
}

.prov-sel{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}